@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./assets/scss/index.scss";

@layer base {
  body {
    @apply bg-slate-900;
  }
}

@layer components {
  .page-container {
    padding: 0px 50px;
  }
  .title-h1 {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
  }
}
